<div>
    <div style="padding: 0px ;margin: 0px" class="container">
        <div id="bl-main" class="bl-main">
            <!--=========== SIGN IN SECTION ===========-->
            <section id ="signin">
                <div data-bind="click: clickSignIn" class="bl-box">
                </div>                
            </section>
				
            <!--=========== SIGN UP SECTION ===========-->
            <section id="bl-work-section">
                <div data-bind="click: clickSignUp" class="bl-box">
                    <div style=" width:100%; height: 100%; background: #2c2c2c; opacity: 0.8"></div>
                    <h2 style="position:relative; color: white; text-align: right !important; margin-top: -90px">Sign Up</h2>
                </div>
            </section>
				
            <!--======== HOW ITS WORK SECTION =========-->
            <section>
                <div class="bl-box">
                    <div style=" width:100%; height: 100%; background: green; opacity: 0.6"></div>
                    <h2 style="color: white;position: relative;margin-top: -80px;text-align: right">How Its Works</h2>
                </div>
                <div class="bl-content">
                    <div class="row-fluid">
                        <div class="span12">
                            <h2>Latest Blog Entry</h2>
                            <article>
                                <h3>Expanding Your Horizons</h3>
                                <img src="images/blogentry.jpg" alt="">
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                                <p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.<a href="#">Read more</a></p>
                            </article>
                            <hr>
                            <h2>Other Entries</h2>
                            <article>
                                <h3>Blog Post 1</h3>
                                <p>Contrary to popular belief, Lorem Ipsum is not simply random text.... <a href="#">Read more</a></p>
                            </article>
                            <article>
                                <h3>Blog Post 2</h3>
                                <p>Contrary to popular belief, Lorem Ipsum is not simply random text.... <a href="#">Read more</a></p>
                            </article>
                            <article>
                                <h3>Blog Post 3</h3>
                                <p>Contrary to popular belief, Lorem Ipsum is not simply random text.... <a href="#">Read more</a></p>
                            </article>
								
                        </div><!-- /span12 -->
                    </div><!-- /row-fluid -->
                </div><!-- /bl-content -->
                <span class="bl-icon bl-icon-close"></span>
            </section>
				
				
				
            <!--== WHY TAKE CARE OF YOUR LIFE ONLINE? ==-->
            <section>
                <div class="bl-box">
                    <div style=" width:100%; height: 100%; background: black; opacity: 0.7"></div>
                    <h2 style="color: white;position: relative;margin-top: -80px;text-align: right">More info...</h2>
                </div>
                <div class="bl-content">
                <div class="row-fluid">
                    <div class="span12">
                        <h2>Get in touch</h2>
                        <br>
                        <p>I am available for freelance jobs. Please contact me and send me your questions and inquiries.</p>								
							
                        <p>
                            <p>your@email.com | +34 600669933 | Madrid, Spain</p>
                        </p>
							
                        <p>
                            <a href="#" class="social-network facebook"></a>
                            <a href="#" class="social-network pinterest"></a>
                            <a href="#" class="social-network flickr"></a>
                            <a href="#" class="social-network dribbble"></a>
                            <a href="#" class="social-network twitter"></a>
                            <a href="#" class="social-network apple"></a>
                            <a href="#" class="social-network skype"></a>
                            <a href="#" class="social-network tumblr"></a>
                            <a href="#" class="social-network vimeo"></a>
                        </p>
							
                    </div>
                </div>
                <span class="bl-icon bl-icon-close"></span>
            </section>
				
				
				
				
            <!--=========== PROJECTS DESCRIPTIONS SECTION ===========-->
            <div class="bl-panel-items" id="bl-panel-work-items">
                <div data-panel="panel-1">
                    <div class="row-fluid">
                        <div class="span8 offset2 tweak">
                            <img src="images/project1.jpg" />
                            <br>
                            <br>
                            <h4>Project Overview</h4>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                            <h4>Project Details</h4>
                            <p>When an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                        </div><!-- /span8 -->
                    </div><!-- /row-fluid -->	
                </div><!-- /panel1 -->
					
                <div data-panel="panel-2">
                    <div class="row-fluid">
                        <div class="span8 offset2 tweak">
                            <img src="images/project2.jpg" />
                            <br>
                            <br>
                            <h4>Project Overview</h4>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                            <h4>Project Details</h4>
                            <p>When an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                        </div><!-- /span8 -->
                    </div><!-- /row-fluid -->	
                </div><!-- /panel2 -->
					
                <div data-panel="panel-3">
                    <div class="row-fluid">
                        <div class="span8 offset2 tweak">
                            <img src="images/project3.jpg" />
                            <br>
                            <br>
                            <h4>Project Overview</h4>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                            <h4>Project Details</h4>
                            <p>When an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                        </div><!-- /span8 -->
                    </div><!-- /row-fluid -->	
                </div><!-- /panel3 -->
					
                <nav>
                    <span class="bl-next-work">&gt; Next Project</span>
                    <span class="bl-icon bl-icon-close"></span>
                </nav>
            </div><!-- /panel-items -->
				
				
        </div><!-- /bl-main -->

    </div> <!-- /container -->

</div>
