<div style="width: 100%; height: 100%; opacity: 0.95; position: fixed; margin: 0px !important;" class="login-layout">
    <div class="main-container">
        <div class="main-content">
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1">
                    <div class="login-container">

                        <div class="space-6"></div>

                        <div style="background: red" class="position-relative">
                            <div style="margin-top: 100px;border-radius: 40px" id="login-box" class="login-box visible widget-box no-border">
                                <div class="widget-body" style="text-align: center;border-radius: 40px">
                                    <div class="toolbar clearfix" style="border-top-left-radius: 40px;border-top-right-radius: 40px;background: #5c9ccc 50% 50% repeat-x; border: 1px solid #4297d7">
                                        <h4 class="header white lighter bigger" style="border-bottom: 0px">
                                            <i class="icon-user-md white"></i>
                                            Log in into Life on Care
                                            <a href="#" data-bind="click: clickCloseModal" style="position: absolute;top: 11.1%;right: 15px;width: 15px;height: 15px; background: url(/Content/images/glyph_close_white.png) no-repeat center center;" role="button"><span class="ui-icon gl ui-icon-closethick"></span></a>
                                        </h4>
                                    </div>

                                    <div class="widget-main" style="border-radius: 40px">
                                        <form>
                                            <fieldset>
                                                <label class="block clearfix">
                                                    <span class="block input-icon input-icon-right">
                                                        <div style=" position: absolute;width: 15px;height: 15px;right: 6px;top: 10px;background: url(/Content/images/glyph_user_grey.png) no-repeat center center"></div>
                                                        <input type="text" class="form-control" placeholder="Email" data-bind="value:LoginEmail" />
                                                    </span>
                                                </label>    

                                                <label class="block clearfix">
                                                    <span class="block input-icon input-icon-right">
                                                        <div style=" position: absolute;width: 15px;height: 15px;right: 6px;top: 10px;background: url(/Content/images/glyph_password_grey.png) no-repeat center center"></div>
                                                        <input type="password" class="form-control" placeholder="Password" data-bind="value: LoginPassword" />
                                                    </span>
                                                </label>
                                                <div align="right">
                                                    <div class="hoverforgot" style="width:37%; font-family: sans-serif;" onclick="show_box('forgot-box'); return false;">Forgot Password?</div>
                                                </div>
                                                
                                                
                                                <div class="space"></div>

                                                <div class="clearfix">
                                                    <button type="button" style="border-radius: 20px; width: 200px;" class="btn btn-lg btn-primary" data-bind="click: ClickLogin">
                                                        <i class="icon-lock"></i>
                                                        Login
                                                    </button>
                                                </div>
                                            </fieldset>
                                        </form>

                                        
                                    </div><!-- /widget-main -->
                                </div><!-- /widget-body -->
                            </div><!-- /login-box -->

                            <div style="margin-top: 100px;border-radius: 40px" id="forgot-box" class="forgot-box widget-box no-border">
                                <div class="widget-body" style="text-align: center;border-radius: 40px">
                                    <div class="toolbar clearfix" style="border-top-left-radius: 40px;border-top-right-radius: 40px;padding: 0px; background: #5c9ccc 50% 50% repeat-x; border: 1px solid #4297d7">
                                        <h4 class="header white lighter bigger" style="border-bottom: 0px;">
                                            <i class="icon-key white"></i>
                                            Forgot Password    
                                            <a href="#" data-bind="click: clickCloseModal" style="position: absolute;top: 10%;right: 15px;width: 15px;height: 15px; background: url(/Content/images/glyph_close_white.png) no-repeat center center;" role="button"><span class="ui-icon gl ui-icon-closethick"></span></a>                                        
                                        </h4>
                                    </div>
                                    <div class="widget-main" style="border-radius: 40px">
                                        <p align="left">
                                            Enter your email and to receive instructions
                                        </p>

                                        <form>
                                            <fieldset>
                                                <label class="block clearfix">
                                                    <span class="block input-icon input-icon-right">
                                                        <input type="email" class="form-control" placeholder="Email" data-bind="value:ForgotEmail" />
                                                        <i class="icon-envelope"></i>
                                                    </span>
                                                </label>

                                                <div class="clearfix">
                                                    <button type="button" style="border-radius: 20px; width: 250px;" class="btn btn-lg btn-primary" data-bind="click: ClickForgotPassword">
                                                        <i class="icon-refresh"></i>
                                                        Reset My Password
                                                    </button>
                                                    <div class="space"></div>
                                                    <button type="button" onclick="show_box('login-box'); return false;" style="border-radius: 20px; width: 250px;" class="btn btn-lg btn-success">
                                                        <i class="icon-arrow-right"></i>
                                                        Back to Login
                                                    </button>
                                                </div>
                                            </fieldset>
                                        </form>
                                    </div><!-- /widget-main -->
                                </div><!-- /widget-body -->
                            </div><!-- /forgot-box -->
                        </div><!-- /position-relative -->
                    </div>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div>
    </div><!-- /.main-container -->    
</div>
